@model IEnumerable<Panse.Models.Ring>

<a asp-action="Necklace" class="btn btn-primary">Necklace</a>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Rings List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="CreateRing" class="btn btn-primary">Create new Item</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Sale
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">@item.Id</td>
                        <td width="20%">@item.Cost</td>
                        <td width="20%">@item.Sale</td>
                        <td width="20%">@item.Amount</td>
                        <td width="20%">
                            <a asp-action="UpdateRing" asp-route-Id="@item.Id" class="btn btn-primary mx-1 small" >Update</a>
                            <a asp-action="DeleteRing" asp-route-Id="@item.Id" class="btn btn-danger mx-1 small" >Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No items created yet</p>
    }

</div>

